/* Container and General Styles */
.container {
  padding: 1.5rem;
  margin: 0 auto;
  animation: fadeIn 1s ease-in-out;

}

/* Header */
.header {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

/* Form Styles */
.form {
  margin-bottom: 2rem;
  
}

.form-group {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.input-container {
  flex: 1;
}

.label {
  display: block;
  font-size: 0.875rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}


/* Loading State */
.loading {
  text-align: center;
  padding: 1rem 0;
}

/* Error Message */
.error-message {
  background-color: #fef2f2;
  border: 1px solid #fecaca;
  color: #b91c1c;
  padding: 1rem;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
}

/* Certificates Grid */
.certificates-grid {
  
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
}

/* Certificate Card */
.card {
  border: 1px solid #ddd;
  background: linear-gradient(to bottom right, #d8a7ca, #b39ddb, #f3e5f5);
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  
}

.card-image {
  width: 100%;
  height: 300px; /* Set a fixed height for better control */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9; /* Optional: adds a light background */
}

.card-image embed {
  width: 100%;
  height: 100%; /* Fill the entire parent container */
  object-fit: cover; /* Ensures the embed scales proportionally */
  padding: 0; /* Remove padding to avoid unnecessary gaps */
  border: none; /* Remove default borders if any */
}

.card-image img {
  width: 100%;
  height: 100%;
  padding: 3%;
  object-fit: contain;
}

.card-body {
  padding: 1rem;
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 2px solid #000; /* Adds a solid line under the title */
  display: inline-block;
}


.card-info {
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
  color: black;
}

.card-info span {
  font-weight: 500;
}

.card-button {
  display: block;
  text-decoration: none;
  text-align: center;
  padding: 0.5rem 1rem;
  background-color: #16a34a;
  color: #fff;
  border-radius: 0.25rem;
  margin-top: 1rem;
}

.card-button:hover {
  background-color: #15803d;
}
